﻿@{
    ViewBag.Title = "Import Master Data";
}
<h2>Import Master Data</h2>
<div class="box wide">
    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>
</div>

<script id="uploadTemplate" type="text/x-kendo-template">
    <div> 
        <div id="isImporting" style="display: none">Master Data is importing for this tenant now</div>
        <div>
            <div><label>Data import</label></div>
            <input id="upload" type="file" accept=".csv" />
        </div>
        <table width="100%" style="margin-top: 50px;">
            <tr>
                <td><label>Source data</label></td>
                <td></td>
                <td><label>Data to import</label></td>
                <td></td>
                <td><label>SKU fields</label></td>
            </tr>
            <tr>
                <td>
                    <select style="width: 150px" size="8" id="csvcolumns" multiple></select>
                </td>
                <td>
                    <div class="arrows">
                        <div><a class='right-link1' href='\#'><span class='fa fa-long-arrow-right'></span></a></div>
                        <div><a class='left-link1' href='\#'><span class='fa fa-long-arrow-left'></span></a></div>
                    </div>
                </td>
                <td>
                    <select style="width: 150px" size="8" id="importcolumns" multiple></select>
                </td>
                <td>
                    <div class="arrows">
                        <div><a class='right-link2' href='\#'><span class='fa fa-long-arrow-right'></span></a></div>
                        <div><a class='left-link2' href='\#'><span class='fa fa-long-arrow-left'></span></a></div>
                    </div>
                </td>
                <td>
                    <select style="width: 150px" size="8" id="skucolumns" multiple></select>
                </td>
            </tr>
        </table>
        <div id="message"></div>
        <button class="k-button k-primary" id="importButton" style="margin-top: 50px;">Import</button>
        <button class="k-button k-primary" id="closeButton" style="margin-top: 50px;">Close</button>
    </div>
</script>

<script id="imageTemplate" type="text/x-kendo-template">
    <div><label>Image upload</label></div>
    <span>
        <input id="uploadImage" type="file" accept=".zip" />
        <button class="k-button k-primary" style="margin-left:70px" id="uploadButton">Upload</button>
    </span>
    <div id="message"></div>
</script>

<script id="itemTemplate" type="text/x-kendo-template">
    #: item.Name #
    <a class='import-link' href='\#' style="margin-left:10px"><span class='fa fa-file-excel-o fa-lg'></span></a>
    <a class='image-link' href='\#'><span class='fa fa-image fa-lg'></span></a>
</script>

<script>
    var role = getUserRole();
    if (role != "Root Account" && role != "IT Admin")
        window.location = '@Url.Action("Index", "StockTakes")';

    var csvFile, csvColumns, node, wasImported = false, sended = false;

    $(document).ready(function () {
        var homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: ApiBaseUrl + "tenants/",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    Name: "Name",
                    TenantUnitType: "TenantUnitType",
                    hasChildren: function (data) {
                        if (data.TenantUnitType <= 2) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                },
                parse: function (data) {
                    for (i = 0; i < data.length; i++)
                        if (data[i].TenantUnitType > 2) {
                            data.splice(i--, 1);
                        }
                    return data;
                }
            }
        });

        $("#treeview").kendoTreeView({
            template: kendo.template($("#itemTemplate").html()),
            dataSource: homogeneous,
            dataTextField: "Name"
        });
    });

    $(document).on("click", ".import-link", function (e) {
        e.preventDefault();

        var template = kendo.template($("#uploadTemplate").html());

        node = $("#treeview").getKendoTreeView().dataItem(e.currentTarget);
        $("<div />")
            .html(template({}))
            .appendTo("body")
            .kendoWindow({
                modal: true,
                visible: false,
                width: 600,
                deactivate: function () {
                    this.destroy();
                }
            })
            .ready(function () {
                checkExistsCurrentImportMasterData();
            })
            .on("change", "#upload", function (e) {
                e.preventDefault();
                if (window.FileReader) {
                    csvFile = this.files[0];
                    getColumns();
                } else {
                    alert('FileReader are not supported in this browser.');
                }
            })
            .on("click", "#closeButton", function (e) {
                var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                dialog.close();
            })
            .getKendoWindow().center().open();
    });

    function checkExistsCurrentImportMasterData() {
        $.ajax({
            url: ApiBaseUrl + "MasterData/IsMasterDataImporting?tenantId=" + node.Id,
            type: "GET",
            //cache: true,
            success: function (result) {
                if (result != null) {
                    wasImported = true;
                    if (result.OperationStatus == 2) {
                        $(".arrows").hide();
                        $("#isImporting").show();
                        $("#isImporting").text("Last Import of " + result.Count + " rows on " + moment(result.DateCompleted).format("YYYY-MM-DD HH:mm") + ".");
                    }
                    else {
                        $(".arrows").hide();
                        $("#isImporting").show();
                        $("#isImporting").text("Import functionality was started at " + moment(result.DateCompleted).format("YYYY-MM-DD HH:mm") + "  and is still in progress. This can take long time depending on amount of data and connection speed. Please wait until the current import is completed before starting a new one.");
                        $("#importButton").hide();
                    }
                }
            }
        });
    }

    function getImportedColumns() {
        $.ajax({
            url: ApiBaseUrl + "MasterData/GetImportedColumns?tenantId=" + node.Id,
            type: "GET",
            success: function (result) {
                if (result != null) {
                    $("#importcolumns").empty();
                    $(result).each(function (index) {
                        $("#importcolumns").append($("<option></option>").text(result[index]));
                    });
                }
            },
            failure: function () {
            }
        });
    }

    function getSkuColumns() {
        $.ajax({
            url: ApiBaseUrl + "MasterData/GetSkuColumns?tenantId=" + node.Id,
            type: "GET",
            success: function (result) {
                if (result != null) {
                    var list = result.split(';');
                    $("#skucolumns").empty();
                    $(list).each(function (index) {
                        $("#skucolumns").append($("<option></option>").text(list[index]));
                    });
                }
            },
            failure: function () {
            }
        });
    }

    function getColumns() {
        var reader = new FileReader();
        reader.readAsText(csvFile);
        reader.onload = loadHandler;
        reader.onerror = errorHandler;
    }

    function loadHandler(event) {
        var csv = event.target.result;
        csvColumns = csv.substring(0, csv.indexOf("\r\n")).split(';');
        $("#csvcolumns").empty();
        $("#importcolumns").empty();
        $("#skucolumns").empty();
        $(csvColumns).each(function() {
            $("#csvcolumns").append($("<option></option>").text(this));
        });
        if (wasImported) {
            getImportedColumns();
            getSkuColumns();
        }
    }

    function errorHandler(evt) {
        if (evt.target.error.name === "NotReadableError") {
            alert("Can't read file");
        }
    }

    $(document).on("click", ".right-link1", function () {
        var selected = $("#csvcolumns").find(":selected");
        if (selected.val() !== undefined)
            selected.each(function () {
                $("#importcolumns").append($("<option></option>").text($(this).text()));
                selected.remove();
            });
    });
    $(document).on("click", ".left-link1", function () {
        var selected = $("#importcolumns").find(":selected");
        if (selected.val() !== undefined)
            selected.each(function () {
                $("#csvcolumns").append($("<option></option>").text($(this).text()));
                var option = $(this).text();
                var foundItem = $("#skucolumns option").filter(function () { return $(this).text() == option; });
                foundItem.remove();
                selected.remove();
            });
    });
    $(document).on("click", ".right-link2", function () {
        var selected = $("#importcolumns").find(":selected");
        if (selected.val() !== undefined)
            selected.each(function () {
                var option = $(this).text();
                console.log(option);        // don't delete! It prevents empty sku column.
                if ($("#skucolumns option").filter(function () { return $(this).text() == option; }).length == 0 && $(this).text().trim().length > 0)
                    $("#skucolumns").append($("<option></option>").text($(this).text()));
            });
    });
    $(document).on("click", ".left-link2", function () {
        var selected = $("#skucolumns").find(":selected");
        if (selected.val() !== undefined)
            selected.each(function () {
                selected.remove();
            });
    });
    $(document).on("click", "#importButton", function (e) {
        $("#message").text("");
        if (csvFile != null && csvFile.name.split('.').pop() == 'csv' && $("#importcolumns option").length > 0 && $("#skucolumns option").length > 0) {
            if ($("#importcolumns option").filter(function () {
                var val = $(this).html().toLowerCase();
                return val == "gtin" || val == "upc";
            }).length == 0) {
                $("#message").text("Column GTIN missing");
                return;
            }
            var reader = new FileReader();
            reader.readAsText(csvFile);
            reader.onload = readCsv;
            reader.onerror = errorHandler;
            reader.onloadend = function () {
                if (sended) {
                    var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                    dialog.close();
                }
            }
        } else if (csvFile == null) {
            $("#message").text("Please upload file for Data Import");
        } else if (csvFile.name.split('.').pop() != 'csv') {
            $("#message").text("Invalid file format");
        } else if ($("#importcolumns option").length == 0) {
            $("#message").text("Please specify import fields");
        } else if ($("#skucolumns option").length == 0) {
            $("#message").text("Please specify SKU fields");
        }

    });

    function readCsv(event) {
        sended = false;
        var indexes = new Array();
        var selectedColumns = new Array();
        $("#importcolumns option").each(function () {
            selectedColumns.push($(this).text());
        });
        var i;
        for (i = 0; i < selectedColumns.length; i++)
            if (csvColumns.indexOf(selectedColumns[i]) == -1) {
                $("#message").text("Columns to import do not match previously defined structure");
                return false;
            }


        for (i = 0; i < csvColumns.length; i++)
            if (selectedColumns.indexOf(csvColumns[i]) > -1)
                indexes.push(i);

        var allTextLines = event.target.result.split(/\r\n|\n/);
        if (allTextLines.length > 1000000) {
            $("#message").text('Set of master data too large');
            return false;
        }

        $('#importButton').prop('disabled', false);
        $("#isImporting").show();
        $("#isImporting").text("Import functionality was started at " + moment(new Date()).format("YYYY-MM-DD HH:mm") + " and is still in progress. This can take long time depending on amount of data and connection speed. Please wait until the current import is completed before starting a new one.");

        var newLines = new Array();
        for (i = 0; i < allTextLines.length; i++) {
            if (allTextLines[i].replace(/;/g, '').length === 0)
                continue;
            var data = allTextLines[i].split(';');
            var newLine = new Array();
            for (var j = 0; j < indexes.length; j++)
                newLine.push(data[indexes[j]]);
            if (newLine.length > 0)
                newLines.push(newLine.join(';'));
        }
        var file = newLines.join("\r\n");
        var sku = new Array();
        $("#skucolumns option").each(function () {
            sku.push($(this).text());
        });
        var sendData = new FormData();
        sendData.append("File", file);
        sendData.append("Id", node.Id);
        sendData.append("Sku", sku.join(';'));
        var d = new Date()
        var n = d.getTimezoneOffset();
        sendData.append("TimeZone", -n / 60);
        sended = true;

        $.ajax({
            url: ApiBaseUrl + "MasterData/ImportMasterData",
            type: "POST",
            contentType: false,
            data: sendData,
            processData: false,
            success: function (result) {
            },
            failure: function () {
                alert("Master Data wasn't imported");
            }
        });
        alert(newLines.length - 1 + " rows are uploading to the server - this may take some time");
    }

    $(document).on("click", ".image-link", function (e) {
        e.preventDefault();

        var template = kendo.template($("#imageTemplate").html());

        node = $("#treeview").getKendoTreeView().dataItem(e.currentTarget);
        $("<div />")
            .html(template({}))
            .appendTo("body")
            .kendoWindow({
                modal: true,
                visible: false,
                width: 450,
                deactivate: function () {
                    this.destroy();
                }
            }).on("click", "#uploadButton", function (e2) {
                $("#message").text("");
                var dialog = $(e2.currentTarget).closest("[data-role=window]").getKendoWindow();

                var formData = new FormData();
                var file = $('#uploadImage')[0];
                if (file.files.length > 0) {
                    if (file.files[0].name.split('.').pop() != "zip") {
                        $("#message").text("file format is not zip");
                    }
                    else {
                        formData.append("tenantId", node.Id);
                        formData.append("file", file.files[0]);

                        $.ajax({
                            url: ApiBaseUrl + "MasterData/ImportImages",
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            success: function (result) {
                                if (result == 'noimage')
                                    alert("No images were found");
                                else
                                    alert("Image upload in progress. This may take some time.");

                            }
                        });

                        dialog.close();
                    }
                }
            })
            .getKendoWindow().center().open();
    });
</script>
<style>
    input[type=file]::-webkit-file-upload-button {
        width: 0;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        border: none;
        border: 0px;
    }

    x::-webkit-file-upload-button, input[type=file]:after {
        content: 'Browse';
        left: 100%;
        margin-left: 3px;
        position: relative;
        -webkit-appearance: button;
        padding: 3px 8px 2px;
        border: 0px;
            color: #ffffff;
    border-color: #00365a;
    background-color: #00365a;
        cursor: pointer;
    }
</style>
