﻿@{
    ViewBag.Title = "Admin";
}

<h2>Users</h2>
<div id="grid"></div>

<script type="text/x-kendo-template" id="template">
    #if(data.isNew()) {#
    #var createTemp = kendo.template($("\#createTemplate").html());#
    #=createTemp(data)#
    #} else {#
    #var createTemp = kendo.template($("\#editTemplate").html());#
    #=createTemp(data)#
    #}#
</script>

<script id="createTemplate" type="text/x-kendo-template">
    # if (getUserRole() == "Root Account") { #
    <div class="k-edit-label">
        <label for="Label">Label:</label>
    </div>
    <div class="k-edit-field">
        <input id="Label" name="Label" />
        <span class="k-invalid-msg" data-for="Label"></span>
    </div>
    # } #
    <div class="k-edit-label">
        <label for="Role">Role:*</label>
    </div>
    <div class="k-edit-field">
        <input id="Role" name="Role" required />
        <span class="k-invalid-msg" data-for="Role"></span>
    </div>
    <div class="k-edit-label">
        <label for="TenantUnit">Structural Element:*</label>
    </div>
    <div class="k-edit-field">
        <input id="TenantUnit" name="TenantUnit" required />
        <span class="k-invalid-msg" data-for="TenantUnit"></span>
    </div>

    <div class="k-edit-label">
        <label for="UserName">Name:*</label>
    </div>
    <div class="k-edit-field">
        <input id="UserName" name="UserName" data-bind="value:UserName" class="k-textbox" required maxlength="64" />
        <span class="k-invalid-msg" data-for="UserName"></span>
    </div>
    <div class="k-edit-label">
        <label for="Email">Email:*</label>
    </div>
    <div class="k-edit-field">
        <input type="email" id="Email" name="Email" data-bind="value:Email" class="k-textbox" placeholder="e.g. name@example.net" required maxlength="64" data-email-msg="Email format is not valid" />
        <span class="k-invalid-msg" data-for="Email"></span>
    </div>     
    <div class="k-edit-label">
        <label for="Phone">Phone:</label>
    </div>
    <div class="k-edit-field">   
        <input type="tel" id="Phone" name="Phone" data-bind="value:Phone" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="Phone"></span>
    </div>
    <div class="k-edit-label">
        <label for="Fax">Fax:</label>
    </div>
    <div class="k-edit-field"> 
        <input type="tel" id="Fax" name="Fax" data-bind="value:Fax" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="Fax"></span>
    </div>
    <div class="k-edit-label">
        <label for="EmployeeId">Employee ID:</label>
    </div>
    <div class="k-edit-field">
        <input id="EmployeeId" name="EmployeeId" data-bind="value:EmployeeId" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="EmployeeId"></span>
    </div>


</script>

<script id="editTemplate" type="text/x-kendo-template">
    # if (getUserRole() == "Root Account") { #
    <div class="k-edit-label">
        <label for="Label">Label:</label>
        </div>
    <div class="k-edit-field">
        <input id="Label" name="Label" data-bind="value:LabelId"
               data-value-field="Id"
               data-text-field="Name" />
        <span class="k-invalid-msg" data-for="Label"></span>
    </div>
    # } #
    <div class=" k-edit-label">
        <label for="products">Role:*</label>
    </div>
    <div class="k-edit-field">
        <input id="Role" name="Role" data-bind="value:RoleId"
               data-value-field="Id"
               data-text-field="Name" required />
        <span class="k-invalid-msg" data-for="Role"></span>
    </div>
    <div class="k-edit-label">
        <label for="TenantUnit">Structural Element:*</label>
    </div>
    <div class="k-edit-field">
        <input id="TenantUnit" name="TenantUnit" data-bind="value:TenantUnitId"
               data-value-field="Id"
               data-text-field="Name" required />
        <span class="k-invalid-msg" data-for="TenantUnit"></span>
    </div>
    <div class="k-edit-label">
        <label for="orders">Name:*</label>
    </div>
    <div class="k-edit-field">
        <input id="UserName" name="UserName" data-bind="value:UserName" required class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="UserName"></span>
    </div>
    <div class="k-edit-label">
        <label for="orders">Email:*</label>
    </div>
    <div class="k-edit-field">
        <input type="email" id="Email" name="Email" data-bind="value:Email" class="k-textbox" placeholder="e.g. name@example.net" required maxlength="64" data-email-msg="Email format is not valid" />
        <span class="k-invalid-msg" data-for="Email"></span>
    </div>
    <div class="k-edit-label">
        <label for="orders">Phone:</label>
    </div>
    <div class="k-edit-field">
        <input type="tel" id="Phone" name="Phone" data-bind="value:Phone" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="Phone"></span>
    </div>
    <div class="k-edit-label">
        <label for="orders">Fax:</label>
    </div>
    <div class="k-edit-field">
        <input type="tel" id="Fax" name="Fax" data-bind="value:Fax" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="Fax"></span>
    </div>
    <div class="k-edit-label">
        <label for="orders">Employee ID:</label>
    </div>
    <div class="k-edit-field">
        <input id="EmployeeId" name="EmployeeId" data-bind="value:EmployeeId" class="k-textbox" maxlength="64" />
        <span class="k-invalid-msg" data-for="EmployeeId"></span>
    </div>
</script>

<script id="deleteTemplate" type="text/x-kendo-template">
    <div style="margin-bottom:10px">Do you want to #= node # this user?</div>
    <div>
        <button class="k-button k-primary" id="deleteNo" style="float: right;margin-left:5px;width:50px">No</button>
        <button class="k-button k-primary" id="deleteYes" style="float: right;width:50px"">Yes</button>
    </div>
</script>
<script>
    var role = getUserRole();
    if (role == "User Account")
        window.location = '@Url.Action("Index", "StockTakes")';

        var allRoles = [];
        var labels = [];
        var selectedRoleId;
        var selectedLabelId;

        function getRole(id) {
            for (var i = 0; i < allRoles.length; i++) {
                if (allRoles[i].Id == id)
                    return allRoles[i].Name;
            }
            return "";
        };

        $(document).ready(function () {
            $.ajax({
                url: ApiBaseUrl + "Roles?Id=" + window.localStorage.role,
                dataType: "json",
                success: function (result) {
                    allRoles = result;
                }
            });
            $.ajax({
                url: ApiBaseUrl + "RetrieveTenants/" + getTenantTypeForRole(1),
                dataType: "json",
                success: function (result) {
                    labels = result;
                }
            });
            var dataSource = new window.kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: ApiBaseUrl + "Users/",
                            dataType: "json",
                            success: function (result) {
                                options.success(result);
                            }
                        });
                    },
                    update: function (options) {
                        var validator1 = $(".k-window").kendoValidator({
                            rules: {
                                customRule1: function (input) {
                                    if (input.is("[name=UserName]")) {
                                        return input.val().trim().length > 0;
                                    }
                                    return true;
                                }
                            },
                            messages: {
                                customRule1: "User name is required"
                            }
                        }).data("kendoValidator");
                        if (validator1.validate()) {
                            var editUser = {
                                Id: options.data.models[0].Id,
                                UserName: options.data.models[0].UserName,
                                TenantUnit: {
                                    Id: options.data.models[0].TenantUnitId
                                },
                                TenantUnitId: options.data.models[0].TenantUnitId,
                                TenantUnitName: options.data.models[0].TenantUnitName,
                                Email: options.data.models[0].Email,
                                DateCreated: options.data.models[0].DateCreated,
                                Deactivated: options.data.models[0].Deactivated,
                                Role: {
                                    Id: options.data.models[0].RoleId,
                                    Name: getRole(options.data.models[0].RoleId)
                                },
                                RoleId: options.data.models[0].RoleId,
                                RoleName: getRole(options.data.models[0].RoleId),
                                Phone: options.data.models[0].Phone,
                                Fax: options.data.models[0].Fax,
                                EmployeeId: options.data.models[0].EmployeeId
                            }
                            $.ajax({
                                url: ApiBaseUrl + "Users/",
                                dataType: "json",
                                method: "PUT",
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                data: JSON.stringify(editUser),
                                success: function (result) {
                                    var tenantUnitName = $("[name=TenantUnit]").data("kendoDropDownList").text();
                                    editUser.TenantUnitName = tenantUnitName;
                                    if (getUserRole() == "Root Account") {
                                        var labelName = $("[name=Label]").data("kendoDropDownList").text();
                                        var labelId = $("[name=Label]").data("kendoDropDownList").value();
                                        editUser.LabelName = labelName;
                                        editUser.LabelId = labelId;
                                    }
                                    var grid = $("#grid").data("kendoGrid");
                                    options.success(editUser);
                                    grid.refresh();
                                },
                                error: function (a, b, c) {
                                    alert(JSON.parse(a.responseText).Message);
                                }
                            });
                        }
                    },
                    create: function (options) {
                        var validator1 = $(".k-window").kendoValidator({
                            rules: {
                                customRule1: function (input) {
                                    if (input.is("[name=UserName]")) {
                                        return input.val().trim().length > 0;
                                    }
                                    return true;
                                }
                            },
                            messages: {
                                customRule1: "User name is required"
                            }
                        }).data("kendoValidator");
                        if (validator1.validate()) {
                            var newUser = {
                                UserName: options.data.models[0].UserName,
                                TenantUnitId: options.data.models[0].TenantUnit.Id,
                                TenantUnitName: options.data.models[0].TenantUnit.Name,
                                TenantUnit: {
                                    Id: options.data.models[0].TenantUnit.Id
                                },
                                Email: options.data.models[0].Email,
                                DateCreated: options.data.models[0].DateCreated,
                                Deactivated: options.data.models[0].Deactivated,
                                RoleId: options.data.models[0].Role.Id,
                                RoleName: getRole(options.data.models[0].Role.Id),
                                Role: {
                                    Id: options.data.models[0].Role.Id,
                                    Name: getRole(options.data.models[0].Role.Id)
                                },
                                Phone: options.data.models[0].Phone,
                                Fax: options.data.models[0].Fax,
                                EmployeeId: options.data.models[0].EmployeeId
                            }

                            $.ajax({
                                url: ApiBaseUrl + "Users/",
                                dataType: "json",
                                method: "post",
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                data: JSON.stringify(newUser),
                                success: function (result) {
                                    var grid = $("#grid").data("kendoGrid");
                                    newUser.Id = result;
                                    var tenantUnitName = $("[name=TenantUnit]").data("kendoDropDownList").text();
                                    newUser.TenantUnitName = tenantUnitName;
                                    if (getUserRole() == "Root Account") {
                                        var labelName = $("[name=Label]").data("kendoDropDownList").text();
                                        var labelId = $("[name=Label]").data("kendoDropDownList").value();
                                        newUser.LabelName = labelName;
                                        newUser.LabelId = labelId;
                                    }
                                    options.success(newUser);
                                    grid.refresh();
                                },
                                failure: function () {
                                    alert("failure")
                                },
                                error: function (a, b, c) {
                                    alert(JSON.parse(a.responseText).Message);
                                }
                            });
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: window.kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                schema: {
                    type: 'json',
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false, nullable: false },
                            UserName: { type: "string" },
                            RoleId: { from: "RoleId" },
                            RoleName: { from: "RoleName" },
                            TenantUnitId: { from: "TenantUnitId" },
                            TenantUnitName: { from: "TenantUnitName" },
                            LabelId: { from: "LabelId" },
                            LabelName: { from: "LabelName" },
                            Email: { type: "string" },
                            Phone: { type: "string" },
                            Fax: { type: "string" },
                            EmployeeId: { type: "string" },
                            DateCreated: { type: "date", editable: false },
                            LastSignIn: { type: "date", editable: false, nullable: true },
                            Deactivated: { type: "boolean" }
                        }
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                resizable: true,
                sortable: true,
                allowCopy: true,
                toolbar: ["create"],
                messages: {
                    commands: {
                        create: "Add new user"
                    }
                },
                columns: [
                    { field: "UserName", title: "User Name", width: "20%" },
                    { field: "RoleName", title: "Role", width: "10%" },
                    { field: "TenantUnitName", title: "Tenant Name", width: "10%" },
                    { field: "Email", title: "Email", width: "20%" },
                    { field: "Phone", title: "Phone", width: "10%" },
                    { field: "Fax", title: "Fax", width: "10%" },
                    { field: "EmployeeId", title: "Employee Id", width: "10%" },                    
                    { field: "DateCreated", title: "Registered Since", width: 120, format: "{0:MM/dd/yyyy}" },
                    { field: "LastSignIn", title: "Last Sign-In", width: 120, format: "{0:MM/dd/yyyy}" },
                    { field: "Deactivated", title: "Deactivated", template: '<input type="checkbox" #= Deactivated ? "checked=checked" : "" # disabled="deactivated" ></input>', width: "10%" },
                    { command: ["edit", { text: "Deactivate", click: deactivateUser }], title: "Action", width: "15%" }
                ],
                editable: {
                    mode: "popup",
                    template: kendo.template($("#template").html())
                },
                edit: function (e) {
                    if (e.model.Id == 0) {
                        e.container.kendoWindow("title", "New User");
                        var icon = $(e.container.find('.k-update')[0]);
                        icon.addClass('k-add');
                        icon.removeClass('k-update');
                        $(e.container.find('.k-grid-update')[0]).text('Add');
                        $(e.container.find('.k-grid-update')[0]).prepend(icon);

                    } else {
                        e.container.kendoWindow("title", "Edit User");
                        if (getEmail().toLowerCase() == e.model.Email.toLowerCase()){
                            $(e.container.find('#Role')).prop('disabled', true);
                            $(e.container.find('#TenantUnit')).prop('disabled', true);
                            $(e.container.find('#UserName')).prop('disabled', true);
                            $(e.container.find('#Email')).prop('disabled', true);
                            $(e.container.find('#Phone')).prop('disabled', true);
                            $(e.container.find('#Fax')).prop('disabled', true);
                            $(e.container.find('#EmployeeId')).prop('disabled', true);
                        }
                    }

                    $('#Role').kendoDropDownList({
                        dataTextField: "Name",
                        dataValueField: "Id",
                        dataSource: allRoles,
                        change: function (e) {
                            selectedRoleId = e.sender.dataItem().Id;
                            var url = ApiBaseUrl + "RetrieveTenants/" + getTenantTypeForRole(selectedRoleId);
                            if ($('#Label').length > 0)
                                url += "/" + $('#Label').data("kendoDropDownList").dataItem().Id;
                            var ds = new kendo.data.DataSource({
                                transport: {
                                    read: url
                                }
                            });
                            $("#TenantUnit").data("kendoDropDownList").setDataSource(ds);
                        }
                    });

                    $('#Label').kendoDropDownList({
                        dataTextField: "Name",
                        dataValueField: "Id",
                        dataSource: labels,
                        change: function (e) {
                            selectedLabelId = e.sender.dataItem().Id;
                            if ($('#Role').data("kendoDropDownList").dataItem() != null) {
                                selectedRoleId = $('#Role').data("kendoDropDownList").dataItem().Id;
                                if (selectedRoleId != undefined) {
                                    var ds = new kendo.data.DataSource({
                                        transport: {
                                            read: ApiBaseUrl + "RetrieveTenants/" + getTenantTypeForRole(selectedRoleId) + "/" + e.sender.dataItem().Id
                                        }
                                    });
                                    $("#TenantUnit").data("kendoDropDownList").setDataSource(ds);
                                }
                            }
                        }
                    });

                    var tenantDataSource = [];
                    if (e.model.Id != 0) {
                        var url = ApiBaseUrl + "RetrieveTenants/" + getTenantTypeForRole(e.model.RoleId);
                        if ($('#Label').length > 0)
                            url += "/" + $('#Label').data("kendoDropDownList").dataItem().Id;
                        tenantDataSource = new kendo.data.DataSource({
                            transport: {
                                read: url
                    }
                        });
}
                    $('#TenantUnit').kendoDropDownList({
                        dataTextField: "Name",
                        dataValueField: "Id",
                        dataSource: tenantDataSource
                    });
                },
                dataBound: function (e) {
                    var grid = this;
                    var gridRows = grid.tbody.find("tr");
                    for (var i = 0; i < gridRows.length; i++) {
                        var row = $(gridRows[i]);
                        var dataItem = grid.dataItem(row);
                        if (dataItem.Deactivated) {
                            row.find(".k-grid-Deactivate").text("Activate");
                        } else {
                            row.find(".k-grid-Deactivate").text("Deactivate");
                        }
                    }
                }
            });
            var deleteTemplate = kendo.template($("#deleteTemplate").html());
            function deactivateUser(e) {
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var value = dataItem.Deactivated ? "activate" : "deactivate";
                $("<div />")
                    .html(deleteTemplate({node: value}))
                    .appendTo("body")
                    .kendoWindow({
                        modal: true,
                        visible: false,
                        deactivate: function () {
                            this.destroy();
                        }
                    }).on("click", "#deleteYes", function (e) {
                        $.ajax({
                            url: ApiBaseUrl + "Users/" + dataItem.Id,
                            dataType: "json",
                            method: "delete",
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            success: function (result) {
                                var grid = $("#grid").data("kendoGrid");
                                dataItem.Deactivated = !dataItem.Deactivated;
                                grid.dataSource.pushUpdate(dataItem);
                                grid.refresh();
                                var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                                dialog.close();
                            }
                        });
                    }).on("click", "#deleteNo", function (e) {
                        var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                        dialog.close();
                        }).getKendoWindow().center().open();
            }

            function getTenantTypeForRole(roleId) {
                switch (roleId) {
                    case 1:
                    case 2:
                        return 1;
                    case 3:
                        return 2;
                    case 4:
                    case 5:
                        return 3;
                }
            }

        });
</script>

<style>
#grid .k-grid-content
{
    min-height: 435px;
}
</style>