﻿@model Detego.CatWalk.Web.Models.DayReportParameters

@{
    ViewBag.Title = "Daily Report";
}

<h2>Report for @Model.Date.ToString("MM-dd-yyyy")</h2>

<button id="export" class="k-button">Export to CSV</button>
<div class="k-content">
    <div id="loading"></div>
    <div id="grid"></div>
</div>
<script>
    $(document).ready(function() {
        var fields;
        var myColumns = [];
        var values = [];
        var data = [];
        kendo.ui.progress($("#loading"), true);

        $.ajax({
            url: ApiBaseUrl + "Reports/" + @Model.SiteId + '/@Model.Date.ToString("MM-dd-yyyy")/',
            dataType: "json",
            success: function(result) {
                if (result != null) {
                    values = result.Rows;
                    fields = result.Columns;
                    for (var i = 0; i < fields.length; i++) {
                        if (i == 0) {
                            myColumns.push({ template: "<img src='#= Image #'  height=64 width=64 />", field: fields[i].replace(/\s/g, ''), title: fields[i], width: '75px', filterable: false });
                        } else {
                            if (fields[i].replace(/\s/g, '').toLowerCase() == "gtin" || fields[i].replace(/\s/g, '').toLowerCase() == "upc" || fields[i].replace(/\s/g, '').toLowerCase() == "articlenumber")
                                myColumns.push({
                                    field: fields[i].replace(/\s/g, ''),
                                    title: fields[i],
                                    width: '150px',
                                    filterable: {
                                        cell: {
                                            operator: "contains"
                                        }
                                    }
                                });
                            else
                                myColumns.push({ field: '["' + fields[i].replace(/\s/g, '') + '"]', title: fields[i], width: '75px', filterable: false });
                        }
                    }
                    for (var i = 0; i < result.Rows.length; i++) {
                        var obj = {};
                        for (var j = 0; j < result.Rows[i].length; j++)
                            obj[fields[j].replace(/\s/g, '')] = result.Rows[i][j];
                        data.push(obj);
                    }
                    var ca = document.cookie.split(';');
                    var dsSort = [];
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        if (c.substring(0, 9) == ' grouping' && c.substring(10, c.indexOf("/")) == getEmail()) {
                            var index = c.indexOf("/");
                            var id = c.substring(index + 1, c.indexOf("/", index + 1));
                            if (id == @Model.SiteId) {
                                index = c.indexOf("/", index + 1);
                                var date = c.substring(index, c.indexOf("=", index + 1))
                                if (date = '@Model.Date.ToString("MM-dd-yyyy").Substring(0, @Model.Date.ToString().IndexOf(' ') + 1)') {
                                var columns = c.substring(c.indexOf("=", index + 1) + 1).split(':');
                                for (var j = 0; j < columns.length - 1; j++)
                                    dsSort.push({ field: columns[j] });
                            }
                        }
                    }
                }

                $("#grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        data: data,
                        pageSize: 10,
                        requestEnd: function() {
                            kendo.ui.progress($("#loading"), false);
                        }
                    },
                    dataBound: onDataBound,
                    pageable: {
                        buttonCount: 10
                    },
                    filterable: {
                        mode: "row"
                    },
                    scrollable: true,
                    groupable: true,
                    sortable: true,
                    resizable: true,
                    reorderable: true,
                    allowCopy: true,
                    columns: myColumns
                });

                var kendoGrid = $("#grid").data('kendoGrid');
                kendoGrid.dataSource.group(dsSort);
            }
            else{
                $("#grid").text("No data");
                kendo.ui.progress($("#loading"), false);
            }
            }
        });

        function onDataBound(e) {
            gridDataSource = e.sender.dataSource;
            var group = gridDataSource.group();

            var columns = "";
            $(group).each(function(i, v) {
                columns += v.field.replace(/\s/g, '') + ':';
            });

            var date = new Date();
            date.setTime(date.getTime() + (30 * 24 * 60 * 60 * 1000));
            document.cookie = "grouping " + getEmail() + '/@Model.SiteId/@Model.Date.ToString("MM-dd-yyyy")' + "=" + columns + "; expires=" + date.toGMTString() + "; path=/";
        }

        $(document).on('click', '#export', function() {
            var first = fields.slice(1).join(';');
            var text = [];
            text.push(first + '\n');
            $(values).each(function(index, row) {
                text.push(row.slice(1).join(';') + '\n');
            });

            var file = new Blob(text, { type: 'text/plain' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(file, "Report.csv");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var url = URL.createObjectURL(file);
                    link.setAttribute("href", url);
                    link.setAttribute("download", "Report.csv");
                    link.style = "visibility:hidden";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        });
    });
</script>
<style>
    .k-filter-row .k-dropdown-operator {
        right: 0;
    }

    .k-filtercell > span {
        padding-right: 2.8em;
    }
</style>


