﻿@{
    ViewBag.Title = "Stocktakes";
}

<h2>Stocktakes</h2>
<div class="box wide">
    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>
</div>

<script id="combineTemplate" type="text/x-kendo-template">
        <a class="k-button" id="combineButton" href="\#" onclick="return toolbar_click();">Combine</a>
</script>

<script id="itemTemplate" type="text/x-kendo-template">
    # if (item.TenantUnitType == 1) { #
    <span class='itemType'>L</span>
    # } #
    # if (item.TenantUnitType == 2) { #
    <span class='itemType'>P</span>
    # } #
    # if (item.TenantUnitType == 3) { #
    <span class='itemType'>S</span>
    # } #
    # if (item.TenantUnitType == 4) { #
    <span class='itemType'>l</span>
    # } #
    #: item.Name #
    # if (item.TenantUnitType == 3 && item.Address != null) { #
    <span style='margin-left: 100px'>#: getAddress(item.Address) #</span>
    # } #
</script>

<script> 
    var serviceRoot = ApiBaseUrl + "tenants/";
    var tenantDS = new kendo.data.HierarchicalDataSource({
        transport: {
            read: {
                url: serviceRoot,
                dataType: "json"
            }
        },
        schema: {
            model: {
                id: "Id",
                Name: "Name",
                TenantUnitType: "TenantUnitType",
                Address: "Address",
                hasChildren: function(data) {
                    if (data.TenantUnitType == 4) {
                        return false;
                    } else {
                        return true;
                    }
                }
            }
        }
    });

    $("#treeview").kendoTreeView({
        template: kendo.template($("#itemTemplate").html()),
        dataSource: tenantDS,
        dataTextField: "Name",
        select: onSelect
    });

    function onSelect(e) {
        select(e.node);
    }

    function select(node) {
        var dataItem = $('#treeview').data('kendoTreeView').dataItem(node);

        if (dataItem.TenantUnitType == 4) {
            $('#treeview').find("#grid").remove();
            var grid = "<div id='grid' />";
            $(node).find(".k-in:first").after(grid);

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: ApiBaseUrl + "stocktakes/" + dataItem.Id,
                            dataType: "json",
                            cache: false
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Number: "Number",
                                Start: { type: "date" },
                                First: { type: "date" },
                                Last: { type: "date" },
                                End: { type: "date" },
                                Quantity: { type: "number" }
                            }
                        }
                    },
                    pageSize: 10
                },
                pageable: true,
                sortable: true,
                resizable: true,
                allowCopy: true,
                toolbar: [
                  { template: kendo.template($("#combineTemplate").html()) }
                ],
                columns: [
                    { template: "<input type='checkbox' class='checkbox' />", width: "5%" },
                    { field: "Number", title: "Stocktake", template: '#=makeLink(Id, Number)#', width: "20%" },
                    { field: "First", title: "First Read", type: "date", format: "{0:dd-MM-yyyy HH-mm}", width: "20%" },
                    { field: "Last", title: "Last Read", type: "date", format: "{0:dd-MM-yyyy HH-mm}", width: "20%" },
                    { field: "End", title: "End", type: "date", format: "{0:dd-MM-yyyy HH-mm}", width: "20%" },
                    { field: "Quantity", title: "Actual", width: "15%" }
                ]
            });
        }
        else if (dataItem.TenantUnitType == 3) {
            $('#treeview').find("#grid").remove();
            var grid = "<div id='grid' />";
            $(node).find(".k-in:first").after(grid);

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: ApiBaseUrl + "stocktakes/site/" + dataItem.Id,
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            fields: {
                                Date: { type: "date" },
                                StockTakes: { type: "number" },
                                Quantity: { type: "number" }
                            }
                        }
                    },
                    pageSize: 10
                },
                pageable: true,
                sortable: true,
                resizable: true,
                allowCopy: true,
                columns: [
                    { field: "Date", title: "Date", type: "date", format: "{0:dd-MM-yyyy}", template: '#=makeDateLink(' + dataItem.Id + ', Date)#', width: "50%" },
                    { field: "StockTakes", title: "Stocktakes Count", width: "20%" },
                    { field: "Quantity", title: "Actual", width: "30%" }
                ]
            });
        }

        if (getUserRole() == "User Account") {
            $(".k-grid-content col:first").css("width", "0%")
            $("#combineButton").closest(".k-grid-toolbar").hide();
        }
    }

    function toolbar_click() {
        var combinedItem = null;
        var dataItemsToDelete = [];
        var checkedIds = [];
        var checked = $('#treeview').find("#grid input:checked");
        var grid = $("#grid").data("kendoGrid");
        $(checked).each(function(index) {
            var row = $(checked[index]).closest("tr");
            var dataItem = grid.dataItem(row);
            if (index == 0) {
                combinedItem = dataItem;
            } else {
                dataItemsToDelete.push(dataItem);
            }
            checkedIds.push(dataItem.Id);
        });

        if ($(checked).length == 2) {
            $.ajax({
                url: ApiBaseUrl + "StockTakes",
                type: "POST",
                contentType: 'application/json',
                dataType: "array[integer]",
                data: JSON.stringify(checkedIds),
                success: function(result) {
                    //grid.dataSource.data([]);
                    //grid.dataSource.read();
                    //grid.refresh();
                },
                failure: function() {
                }
            });
            var node = $('#treeview').data('kendoTreeView').select()[0];
            var parent = $('#treeview').data('kendoTreeView').parent(node);
            $('#treeview').data('kendoTreeView').select(parent);
            select(parent);
            alert("Combining may take few minutes. Stocktake information may be incorrect.");
        } else {
            alert("Please selected only two stocktakes to combine.");
        }

        return false;
    }

    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    }

    function makeLink(id, number) {
        var link = '<a href=@Url.Action("Report", "StockTakes")/' + id + '>' + number + '</a>';
        return link;
    }

    function makeDateLink(id, date) {
        temp = moment(date).format('MM-DD-YYYY')
        var link = '<a href=@Url.Action("Report", "StockTakes")/' + id + '/' + temp + '>' + temp + '</a>';
        return link;
    }
</script>
<style>
.k-grid td a {
    color: #00365a;
}
</style>

