﻿@{
    ViewBag.Title = "Structure";
}

<h2>Structure</h2>
<div class="box wide">
    <a id="newLabel"><span class='fa fa-plus-square fa-lg'></span>&nbsp;Label</a>
    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>
</div>
<script id="itemTemplate" type="text/x-kendo-template">
    # if (item.TenantUnitType == 1) { #
     <span class='itemType'>L</span> 
    # } #
    # if (item.TenantUnitType == 2) { #
    <span class='itemType'>P</span> 
    # } #
    # if (item.TenantUnitType == 3) { #
    <span class='itemType'>S</span>
    # } #
    # if (item.TenantUnitType == 4) { #
    <span class='itemType'>l</span>
    # } #
    #: item.Name #
    # if (item.TenantUnitType == 3 && item.Address != null) { #
    <span style='margin-left: 100px'>#: getAddress(item.Address) #</span>
    # } #
</script>
<script id="editTemplate" type="text/x-kendo-template">
    <div id="myForm">
        <div class="k-edit-label">
            <label>Name: </label>
            </div>
            <div class="k-edit-field">
                <input id="Name" name="Name" type="text" class="k-textbox" value="#= node.Name #" required maxlength="64" />
            </div>
            <span class="k-invalid-msg" data-for="Name"></span>
            # if (node.TenantUnitType == 3) { #
        <div class="k-edit-label">
            <label>Address Line 1:</label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="256" value="#= node.Address.AddressLine1 #" /></div>
        <div class="k-edit-label">
            <label>Address Line 2:</label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="256" value="#= node.Address.AddressLine2 #" /></div>
        <div class="k-edit-label">
            <label>Zip: </label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="9" value="#= node.Address.Zip #" /></div>
        <div class="k-edit-label">
            <label>City: </label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="64" value="#= node.Address.City #" /></div>
        <div class="k-edit-label">
            <label>State or Province: </label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="64" value="#= node.Address.State #" /></div>
        <div class="k-edit-label">
            <label>Country: </label>
            </div>
            <div class="k-edit-field"><input class="k-textbox" maxlength="32" value="#= node.Address.Country #" /></div>
        <div class="k-edit-label">
            <label>Description: </label>
            </div>
        <div class="k-edit-field"><input class="k-textbox" maxlength="1024" value="#= node.Address.Description #" /></div>
            # } #
        <button class="k-button k-primary" style="float: right;margin-right:60px;">Save</button>
        </div>
</script>

<script id="deleteTemplate" type="text/x-kendo-template">
    <label>Are you sure you want to remove #= node.Name #?</label>
    <div>All related Articles, Stocktakes, Users will be deleted too. </div>
    <div>This operation may last very long.</div>
    <div>Please don't perform any operations on this element after deleting started.</div>
    <div style="margin-top:20px">
        <button class="k-button k-primary" id="removeButton">Remove</button>
        <button class="k-button k-primary" id="cancelButton">Cancel</button>
    </div>
</script>

<script>
    var role = getUserRole();
    if (role != "Root Account" && role != "IT Admin")
        window.location = '@Url.Action("Index", "StockTakes")';

    var serviceRoot = ApiBaseUrl + "tenants/";

    var homogeneous = new kendo.data.HierarchicalDataSource({
        transport: {
            read: {
                url: serviceRoot,
                dataType: "json",
                cache: false
            }
        },
        schema: {
            model: {
                id: "Id",
                Name: "Name",
                TenantUnitType: "TenantUnitType",
                Address: "Address",
                hasChildren: function (data) {
                    if (data.TenantUnitType == 4) {
                        return false;
                    } else {
                        return true;
                    }
                }
            }
        }
    });

    $("#treeview").kendoTreeView({
        template: kendo.template($("#itemTemplate").html()),
        dataSource: homogeneous,
        dataTextField: "Name",
        select: onSelect
    });

    function onSelect(e) {
        if (getUserRole() == "Root Account" || getUserRole() == "IT Admin") {
            var dataItem = this.dataItem(e.node);
            var toolbar = "";
            // add
            if (dataItem.TenantUnitType <= 3)
                toolbar += "&nbsp;<a class='add-link' href='\#' title='Add sub'><span class='fa fa-plus-square fa-lg'></span>&nbsp;" + getTenantType(dataItem.TenantUnitType + 1) + "</a>";
            // add sub
            if (dataItem.TenantUnitType < 3)
                toolbar = "&nbsp;<a class='add-link sub' href='\#' title='Add sub'><span class='fa fa-plus-square fa-lg'></span>&nbsp;" + "sub-" + getTenantType(dataItem.TenantUnitType) + "</a>" + toolbar;
            // edit + delete
            toolbar += "&nbsp;<a class='edit-link' href='\#'><span class='fa fa-pencil-square fa-lg'></span></a>&nbsp;" +
                "<a class='delete-link' href='\#'><span class='fa fa-remove fa-lg'></a>&nbsp;";
            toolbar = "<span id='actionLinks'>" + toolbar + "</span>";

            $('#treeview').find("#actionLinks").remove();
            $(e.node).find(".k-in:first").after(toolbar);
        }
    }

    function getTenantType(number) {
        switch (number) {
            case 1:
                return "label";
            case 2:
                return "partner";
            case 3:
                return "site";
            case 4:
                return "location";
        }
        return "";
    }

    var template = kendo.template($("#editTemplate").html());
    var deleteTemplate = kendo.template($("#deleteTemplate").html());

    $(document).on("click", ".add-link", function (e) {
        e.preventDefault();
        var sub = $(this).hasClass("sub");
        var node = $('#treeview').getKendoTreeView().dataItem(e.currentTarget);
        var editNode = {
            Name: "",
            Address: {
                AddressLine1: "",
                AddressLine2: "",
                Zip: "",
                City: "",
                State: "",
                Country: "",
                Description: ""
            },
            TenantUnitType: node.TenantUnitType + (sub ? 0 : 1)
        };
        $("<div />")
            .html(template({
                node: editNode
            }))
            .appendTo("body")
            .kendoWindow({
                width: '390px',
                modal: true,
                visible: false,
                activate: function () {
                    $('.k-textbox:first').focus();
                },
                deactivate: function () {
                    this.destroy();
                }
            }).on("click", ".k-primary", function (e) {
                e.preventDefault();

                var validator1 = $("#myForm").kendoValidator({
                    rules: {
                        customRule1: function (input) {
                            if (input.is("[name=Name]")) {
                                return input.val().trim().length > 0;
                            }
                            return true;
                        }
                    },
                    messages: {
                        customRule1: "Name is required"
                    }
                }).data("kendoValidator");
                if (validator1.validate()) {
                    var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                    var textbox = dialog.element.find(".k-textbox");
                    var tenant = {
                        Name: textbox[0].value.trim(),
                        ParentId: node.Id,
                        TenantUnitType: node.TenantUnitType + (sub ? 0 : 1)
                    }
                    if (textbox.length > 1) {
                        tenant.Address = {
                            AddressLine1: textbox[1].value,
                            AddressLine2: textbox[2].value,
                            Zip: textbox[3].value,
                            City: textbox[4].value,
                            State: textbox[5].value,
                            Country: textbox[6].value,
                            Description: textbox[7].value
                        }
                    }
                    var button = this;
                    $(button).prop('disabled', true);

                    $.ajax({
                        url: serviceRoot,
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(tenant),
                        dataType: 'json',
                        success: function (result) {
                            tenant.Id = result.data;
                            var selectedNode = $('#treeview').getKendoTreeView().select();
                            var treeview = $("#treeview").data("kendoTreeView");

                            var isExpanded = $(selectedNode).attr("data-expanded");
                            var dataItem = treeview.dataItem(selectedNode);
                            dataItem.loaded(false);
                            if (typeof isExpanded !== 'undefined' && isExpanded !== false) {
                                dataItem.load();
                            } else {
                                treeview.expand(selectedNode);
                            }

                            dialog.close();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $(button).prop('disabled', false);
                            if (jqXHR.responseText == -1)
                                alert("Tenant wasn't added");
                            else if (jqXHR.responseText == -2)
                                alert("Site with such GLN already exists");
                            else if (jqXHR.responseText == -3)
                                alert("Such location already exists");
                        }
                    });

                }
            })
            .getKendoWindow().center().open();

    });

    $(document).on("click", ".edit-link", function (e) {
        e.preventDefault();
        var node = $('#treeview').getKendoTreeView().dataItem(e.currentTarget);
        node.Name = node.Name.replace(/"/g, '&quot;');
        $("<div />")
            .html(template({ node: node }))
            .appendTo("body")
            .kendoWindow({
                width: '390px',
                modal: true,
                visible: false,
                activate: function () {
                    $('.k-textbox:first').focus();
                },
                deactivate: function () {
                    this.destroy();
                }
            }).on("click", ".k-primary", function (e) {
                e.preventDefault();

                var validator1 = $("#myForm").kendoValidator({
                    rules: {
                        customRule1: function (input) {
                            if (input.is("[name=Name]")) {
                                return input.val().trim().length > 0;
                            }
                            return true;
                        }
                    },
                    messages: {
                        customRule1: "Name is required"
                    }
                }).data("kendoValidator");
                if (validator1.validate()) {
                    var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                    var textbox = dialog.wrapper.find(".k-textbox");
                    var editNode = {};
                    editNode.Id = node.Id;
                    editNode.Name = textbox[0].value.trim();
                    editNode.TenantUnitType = node.TenantUnitType;
                    if (textbox.length > 1) {
                        editNode.Address = {
                            AddressLine1: textbox[1].value,
                            AddressLine2: textbox[2].value,
                            Zip: textbox[3].value,
                            City: textbox[4].value,
                            State: textbox[5].value,
                            Country: textbox[6].value,
                            Description: textbox[7].value
                        }
                    }
                    $.ajax({
                        url: serviceRoot,
                        type: "PUT",
                        contentType: 'application/json',
                        data: JSON.stringify(editNode),
                        dataType: 'json',
                        success: function (result) {
                            node.set("Name", editNode.Name);
                            if (textbox.length > 1) {
                                node.set("Address", editNode.Address);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.responseText == -1)
                                alert("Tenant wasn't edited");
                            else if (jqXHR.responseText == -2)
                                alert("Site with such GLN already exists");
                            else if (jqXHR.responseText == -3)
                                alert("Such location already exists");
                        }
                    });
                    dialog.close();
                }
            })
            .getKendoWindow().center().open();
    });

    $(document).on("click", ".delete-link", function (e) {
        e.preventDefault();
        var treeview = $('#treeview').getKendoTreeView();
        var node = treeview.dataItem(e.currentTarget);

        $("<div />")
            .html(deleteTemplate({ node: node }))
            .appendTo("body")
            .kendoWindow({
                modal: true,
                visible: false,
                deactivate: function () {
                    this.destroy();
                }
            }).on("click", "#removeButton", function (e) {
                e.preventDefault();
                var tab = this;
                $.ajax({
                    url: serviceRoot + node.Id,
                    type: "DELETE",
                    contentType: 'text/plain',
                    dataType: 'json',
                    success: function (result) {
                        treeview.remove(treeview.select());
                    },
                    failure: function () {
                        alert("Tenant wasn't removed");
                    },
                    error: function (e) {
                        alert("Tenant wasn't removed");
                    }
                });
                var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                dialog.close();
            }).on("click", "#cancelButton", function (e) {
                var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                dialog.close();
            })
            .getKendoWindow().center().open();
    });

    $(document).on("click", "#newLabel", function (e) {
        e.preventDefault();

        var editNode = {
            Name: "",
            TenantUnitType: 1
        };
        $("<div />")
            .html(template({
                node: editNode
            }))
            .appendTo("body")
            .kendoWindow({
                modal: true,
                visible: false,
                deactivate: function () {
                    this.destroy();
                }
            }).on("click", ".k-primary", function (e) {
                e.preventDefault();
                var validator1 = $("#myForm").kendoValidator({
                    rules: {
                        customRule1: function (input) {
                            if (input.is("[name=Name]")) {
                                return input.val().trim().length > 0;
                            }
                            return true;
                        }
                    },
                    messages: {
                        customRule1: "Name is required"
                    }
                }).data("kendoValidator");
                if (validator1.validate()) {
                    var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                    var textbox = dialog.element.find(".k-textbox");
                    var tenant = {
                        Name: textbox[0].value,
                        TenantUnitType: 1
                    }
                    var button = this;
                    $(button).prop('disabled', true);

                    $.ajax({
                        url: serviceRoot,
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(tenant),
                        dataType: 'json',
                        success: function (result) {
                            $('#treeview').getKendoTreeView().append({
                                Name: tenant.Name,
                                TenantUnitType: 1,
                                Id: result
                            }, null);
                        },
                        failure: function () {
                            alert("Tenant wasn't added");
                            $(button).prop('disabled', false);
                        },
                        error: function() {
                            $(button).prop('disabled', false);
                        }
                    });

                    dialog.close();
                }
            })
            .getKendoWindow().center().open();
    });

    $(document).ready(function () {
        var role = getUserRole();
        if (role != "Root Account")
            $("#newLabel").hide();
        else
            $("#newLabel").show();
    });
</script>





