﻿@model Tuple<string, string>

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Change password for @Model.Item1</h2>
<div class="demo-section k-content">
    <div id="error" style="display: none; color: red"></div>
    <div>
        <div>
            <label>New Password:</label>
        </div>
        <input class="k-textbox" type="password" id="password" value=""/>
        <div>
            <p>
                <button id="change" class="k-button k-primary">Change Password</button>
            </p>
        </div>
    </div>
</div>

<script>
    SiteUrl = '@(string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), Request.ApplicationPath))';
    function checkPassword(password) {
        if (password.length != 8)
            return false;
        return (/\d/.test(password));
    }

    $(document).ready(function () {
        $("#change").click(function (e) {
            if (checkPassword($("#password").val())) {
                $("#error").hide();
                $.ajax({
                    type: "POST",
                    url: ApiBaseUrl + "Login/ChangePassword",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({
                        Email: '@Model.Item1',
                        Token: '@Model.Item2',
                        NewPassword: $("#password").val()
                    }),
                    beforeSend: function() {                    
                    },
                    success: function (result) {
                        window.location.href = "@Url.Action("Index", "Login", null, Request.Url.Scheme)";
                    },
                    error: function (result) {
                        window.location.href = "@Url.Action("Index", "Login", null, Request.Url.Scheme)";
                    }
                });
            } else {
                $("#error").text("Password should be 8 characters with 1 number minimum");
                $("#error").show();
            }
        });
    });
</script>
<style>
    .demo-section p {
        margin: 0 0 10px;
        line-height: 50px;
    }
</style>
