﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>
<div class="box wide">
    <div id="loading"></div>
    <div class="demo-section k-content">
        <div id="error" style="display: none; color: red"></div>
        <div id="loginPanel">
            <div>
                <label>Email:</label>
            </div>
            <div>
                <input class="k-textbox" type="email" id="email" value="" required data-email-msg="Email format is not valid" />
            </div>
            <div>
                <label>Password:</label>
            </div>
            <div>
                <input class="k-textbox" type="password" id="password" required value="" />
            </div>
            <div>
                <p>
                    <button id="login" class="k-button k-primary">Login</button>
                </p>
            </div>
            <div>
                <a id="forgot" href="">Forgot your password?</a>
            </div>
        </div>
        <div id="forgotPanel" style="display: none">
            <div>Please enter your email address below and you will receive an email with instructions on how to reset your password:</div>
            <div>
                <label>Email:</label>
            </div>
            <input class="k-textbox" type="email" id="email2" value="" required data-email-msg="Email format is not valid" />
            <div>
                <p>
                    <button id="reset" class="k-button k-primary">Reset password</button>
                    <button id="cancel" class="k-button k-primary">Cancel</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#forgotPanel").hide();
        clearUserData();

        $("#login").click(function(e) {
            var valid = true;

            $('input:visible').each(function(i, v) {
                if ($(this).prop('required') && $(this).val().trim() == "") {
                    valid = false;
                }
            });

            if (valid) {
                var authString = "Bsc " + btoa($("#email").val() + ":" + $("#password").val());
                saveAuth(authString);
                kendo.ui.progress($("#loading"), true);

                $.ajax({
                    method: "GET",
                    url: ApiBaseUrl + "Login",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Authorization", authString);
                    },
                    success: function(result) {
                        kendo.ui.progress($("#loading"), false);

                        if (result != "") {
                            var token = result.replace(/"/g, '');
                            window.location.href = '@Url.Action("ChangePassword", "Login", null, Request.Url.Scheme)' + '?email=' + $("#email").val() + '&token=' + token;
                        } else {
                            saveEmail($("#email").val());

                            var role = getUserRole2(function() {
                                role = getUserRole();

                                if (role == "Root Account" || role == "IT Admin")
                                    window.location.href = "@Url.Action("Index", "Home", null, Request.Url.Scheme)";
                                else
                                    window.location.href = "@Url.Action("Index", "StockTakes", null, Request.Url.Scheme)";
                            });
                        }
                    },
                    failure: function() {
                        kendo.ui.progress($("#loading"), false);
                        alert("failure");
                    },
                    error: function(a, b, c) {
                        kendo.ui.progress($("#loading"), false);
                        $("#error").text(a.responseText);
                        $("#error").show();
                        clearUserData();
                    }
                });
            } else {
                $("#error").text("Email and password required.");
                $("#error").show();
            }
        });

        $("#forgot").click(function(e) {
            e.preventDefault();
            $("#loginPanel").hide();
            $("#forgotPanel").show();
            $("#error").hide();
        });

        $("#cancel").click(function() {
            $("#loginPanel").show();
            $("#forgotPanel").hide();
        });

        $("#reset").click(function () {
            var siteUrl = "@(string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), Request.ApplicationPath))";
            if (siteUrl.slice(-1) != '/')
                siteUrl += '/';
            $.ajax({
                url: ApiBaseUrl + "Login/ResetPassword?url=" + siteUrl + "/Login&email=" + $("#email2").val(),
                method: "GET",
                beforeSend: function () {
                },
                success: function() {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error").text(jqXHR.responseText);
                    $("#error").show();
                }
              });


            $("#loginPanel").show();
            $("#forgotPanel").hide();
        });
    });
</script>
<style>
.demo-section p {
    margin: 0 0 10px;
    line-height: 50px;
}
.demo-section p .k-button {
    margin: 0 10px 0 0;
}
</style>