﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="detego Surveyor">
    <meta name="author" content="Enso Detego GmbH">
    <meta name="accept-language" content="en-US"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.default.mobile.min.css"/>
    <script src="https://kendo.cdn.telerik.com/2016.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")

    <script> 
        SiteUrl = '@(string.Concat(Request.Url.GetLeftPart(UriPartial.Authority), Request.ApplicationPath))';
        checkVisit();
    </script>

    <link rel="shortcut icon" href="~/Content/Images/EDG_Favicon_4c_pos.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Images/EDG_Favicon_4c_pos_144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Images/EDG_Favicon_4c_pos_72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Images/EEDG_Favicon_4c_pos_57.png">
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/EDG-R_Logo_4c_pos.svg" alt="DETEGO" width="252" height="50" />
                <span class="navbar-brand-text">SUITE</span>
            </a>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-navs">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=@Url.Action("Index", "Home") data-bind="click: navigate" id="HomeLink">Home</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Admin") data-bind="click: navigate" id="AdminLink">Administration</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Import", "Admin") data-bind="click: navigate" id="ImportLink">Import Master Data</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "StockTakes") data-bind="click: navigate">Stocktakes</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Login") data-bind="click: navigate" id="Login">Login</a>
                    </li>
                    <li>
                        <a class="label" id="HelloLabel"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (checkLogged()) {
            $("#Login").text("Logout");
            $("#HelloLabel").text("Logged as: " + getEmail());

            var role = getUserRole();
            if (role != "Root Account" && role != "IT Admin") {
                $("#ImportLink").hide();
                $("#HomeLink").hide();
                $("a.navbar-brand").attr("href", "@Url.Action("Index", "StockTakes")");
            }
            if (role == "User Account")
                $("#AdminLink").hide();
        } else {
            $("#Login").text("Login");
        }

        $("#Login").click(function() {
            clearUserData();
        });
    });
</script>
</body>
</html>