﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="detego Surveyor">
    <meta name="author" content="Enso Detego GmbH">
    <meta name="accept-language" content="en-US">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.default.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2016.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")

    <link rel="shortcut icon" href="~/Content/Images/EDG_Favicon_4c_pos.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Images/EDG_Favicon_4c_pos_144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Images/EDG_Favicon_4c_pos_72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Images/EEDG_Favicon_4c_pos_57.png">
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Images/EDG-R_Logo_4c_pos.svg" alt="DETEGO" width="252" height="50" />
                    <span class="navbar-brand-text">SUITE</span>
                </a>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>
</body>
</html>