﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.itemType {
    color: #00365a;
    font-weight: 900;
}

a.k-button:visited {
    color: #ffffff !important;
}

th a.k-link {
    color: #ffffff !important;
}

.collapse {
    display: block;
}

@media (min-width: 400px) {
  .navbar-right {
    float: right !important;
  }

    .navbar-nav > li {
    float: left;
  }
}

.navbar-nav {
    margin-top: 20px;
}